<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }

        table#t01 {
            width: 100%;
            background-color: #f2f2d1;
        }
    </style>
    <script src='main.js'></script>
</head>
<body>
    <table style="width:100%" id="t01">
        <tr>
            <th>UserId</th>
            <th>ID</th>
            <th>Title</th>
        </tr>
        <tr *ngFor="let album of albums">
            <td>{{album.userId}}</td>
            <td>{{album.id}}</td>
            <td>{{album.title}}</td>
        </tr>
    </table>
</body>
</html>